<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="stylesheets/pygments.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/softcover.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/custom.css" media="screen" rel="stylesheet" type="text/css" />
    
    <title>ansible_tutorial</title>
    
      <script type="text/x-mathjax-config">
              MathJax.Hub.Config({
        "HTML-CSS": {
          availableFonts: ["TeX"],
        },
        TeX: {
          extensions: ["AMSmath.js", "AMSsymbols.js", "color.js"],
          equationNumbers: {
            autoNumber: "AMS",
            formatNumber: function (n) { return "5" + '.' + n }
          },
          Macros: {
            PolyTeX:    "Poly{\\TeX}",
            PolyTeXnic: "Poly{\\TeX}nic",
            "softcover": "\\texttt{softcover}",
"unitvec": ["{\\hat #1}", 1]
          }
        },
        showProcessingMessages: false,
        messageStyle: "none",
        imageFont: null
      });

      </script>
      <script type="text/javascript" src="MathJax/MathJax.js?config=TeX-AMS-MML_SVG"></script>
    
  </head>
  <body>
    
    <div id="book">
      <div id="cid33" data-tralics-id="cid33" class="chapter" data-number="5" data-chapter="chapter7"><h1><a href="chapter7.html#cid33" class="heading hyperref"><span class="number">Chapter 5 </span>Control Structures</a></h1>
<p>In Chapter 7, we will learn about the aspects of conditionals and iterations that affects program’s execution flow in Ansible</p>
<p class="noindent">Control structures are of two different type</p>
<ul>
<li>Conditional
</li>
<li>Iterative
</li></ul>
</div>
<div id="cid34" data-tralics-id="cid34" class="section" data-number="5.1"><h2><a href="chapter7.html#cid34" class="heading hyperref"><span class="number">5.1 </span>Conditionals</a></h2>
<p>Conditionals structures allow Ansible to choose an alternate path.<span class="intersentencespace"></span> Ansible does this by using <em>when</em> statements</p>
</div>
<div id="cid35" data-tralics-id="cid35" class="section" data-number="5.2"><h2><a href="chapter7.html#cid35" class="heading hyperref"><span class="number">5.2 </span><strong>When</strong> statements</a></h2>
<p>When statement becomes helpful, when you will want to skip a particular step on a particular host</p>
<div id="uid101" data-tralics-id="uid101" class="subsection" data-number="5.2.1"><h3><a href="chapter7.html#uid101" class="heading hyperref"><span class="number">5.2.1 </span>Selectively calling install tasks based on platform</a></h3>
<ul>
<li>Edit <em>roles/apache/tasks/main.yml</em>,
</li></ul>
<div class="code"><div class="highlight"><pre>---
- include: install.yml
  when: ansible_os_family == 'RedHat'
- include: start.yml
- include: config.yml
</pre></div></div>
<ul>
<li>This will include <em>install.yml</em> only if the OS family is Redhat, otherwise it will skip the installation playbook
</li></ul>
</div>
<div id="uid104" data-tralics-id="uid104" class="subsection" data-number="5.2.2"><h3><a href="chapter7.html#uid104" class="heading hyperref"><span class="number">5.2.2 </span>Configuring MySQL server based on boolean flag</a></h3>
<ul>
<li>Edit <em>roles/mysql/tasks/main.yml</em> and add when statements,
</li></ul>
<div class="code"><div class="highlight"><pre>---
# tasks file for mysql
- include: install.yml

- include: start.yml
  when: mysql.server

- include: config.yml
  when: mysql.server
</pre></div></div>
<ul>
<li>Edit <em>db.yml</em> as follows,
</li></ul>
<div class="code"><div class="highlight"><pre>---
  - name: Playbook to configure DB Servers
    hosts: db
    become: true
    roles:
    - mysql
    vars:
      mysql:
        server: true
        config:
          bind: "{{ ansible_eth1.ipv4.address }}"
</pre></div></div>
</div>
<div id="uid107" data-tralics-id="uid107" class="subsection" data-number="5.2.3"><h3><a href="chapter7.html#uid107" class="heading hyperref"><span class="number">5.2.3 </span>Adding conditionals in Jinja2 templates</a></h3>
<ul>
<li>Put the following content in <em>roles/mysql/templates/my.cnf.j2</em>
</li></ul>
<div class="code"><div class="highlight"><pre>[mysqld]

{% if mysql.config.datadir is defined %}
datadir={{ mysql['config']['datadir'] }}
{% endif %}

{% if mysql.config.socket is defined %}
socket={{ mysql['config']['socket'] }}
{% endif %}

symbolic-links=0
log-error=/var/log/mysqld.log

{% if mysql.config.pid is defined %}
pid-file={{ mysql['config']['pid']}}
{% endif %}

[client]
user=root
password={{ mysql_root_db_pass }}
</pre></div></div>
<ul>
<li>These conditions will run flawlessly, because we have already defined these Variables
</li></ul>
</div>
<div id="uid110" data-tralics-id="uid110" class="subsection" data-number="5.2.4"><h3><a href="chapter7.html#uid110" class="heading hyperref"><span class="number">5.2.4 </span>Running One Time Tasks</a></h3>
<ul>
<li>To see how this works, lets take a look at the code in <em>roles/mysql/tasks/config.yml</em>
</li></ul>
<div class="code"><div class="highlight"><pre>        [...]
- name: reset default root password
shell: mysql --user=root --password="{{ MYSQL_DEFAULT_PASS }}" --connect-expired-password mysql &lt; /root/.mysql_reset_pass.sql
run_once: true
ignore_errors: yes
       [...]
</pre></div></div>
<ul>
<li>In some cases there may be a need to only run a task one time and only on one host.<span class="intersentencespace"></span> This can be achieved by configuring “run_once” on a task
</li></ul>
</div>
<div id="uid113" data-tralics-id="uid113" class="subsection" data-number="5.2.5"><h3><a href="chapter7.html#uid113" class="heading hyperref"><span class="number">5.2.5 </span>Conditional Execution of Roles</a></h3>
<ul>
<li>This will execute app playbook only if the node is running <strong>RedHat</strong> family
</li>
<li>Update app.yml to restrict role to be run only on RedHat platform.<span class="intersentencespace"></span>
</li></ul>
<div class="code"><div class="highlight"><pre>---
  - name: Playbook to configure App Servers
    hosts: app
    become: true
    vars:
      fav:
        fruit: mango
    roles:
    - { role: apache, when: ansible_os_family == 'RedHat' }
</pre></div></div>
<ul>
<li>Let’s run this code
</li></ul>
<div class="code"><div class="highlight"><pre>ansible-playbook site.yml
</pre></div></div>
<p>[Output]</p>
<p class="noindent"></p><div class="code"><div class="highlight"><pre>TASK [setup] *****************************************************************
ok: [192.168.61.12]
ok: [192.168.61.13]

TASK [base : create admin user] **********************************************
skipping: [192.168.61.12]
skipping: [192.168.61.13]

TASK [base : remove dojo] ****************************************************
skipping: [192.168.61.12]
skipping: [192.168.61.13]

TASK [base : install tree] ***************************************************
skipping: [192.168.61.12]
skipping: [192.168.61.13]

TASK [base : install ntp] ****************************************************
skipping: [192.168.61.12]
skipping: [192.168.61.13]

TASK [base : start ntp service] **********************************************
skipping: [192.168.61.12]
skipping: [192.168.61.13]

TASK [apache : Installing Apache...] *****************************************
skipping: [192.168.61.12]
skipping: [192.168.61.13]

TASK [apache : Starting Apache...] *******************************************
skipping: [192.168.61.12]
skipping: [192.168.61.13]

TASK [apache : Creating configuration from templates...] *********************
skipping: [192.168.61.12]
skipping: [192.168.61.13]

TASK [apache : Copying index.html file...] ***********************************
skipping: [192.168.61.12]
skipping: [192.168.61.13]
</pre></div></div>
</div>
<div id="uid117" data-tralics-id="uid117" class="subsection" data-number="5.2.6"><h3><a href="chapter7.html#uid117" class="heading hyperref"><span class="number">5.2.6 </span>Exercise</a></h3>
<p>Try using <strong>Debian</strong> instead of <strong>RedHat</strong> .<span class="intersentencespace"></span> You shall see app role being skipped altogether.<span class="intersentencespace"></span> Don’t forget to put it back after you try this out.</p>
</div></div>
<div id="cid36" data-tralics-id="cid36" class="section" data-number="5.3"><h2><a href="chapter7.html#cid36" class="heading hyperref"><span class="number">5.3 </span>Iterations</a></h2>
<div id="uid118" data-tralics-id="uid118" class="subsection" data-number="5.3.1"><h3><a href="chapter7.html#uid118" class="heading hyperref"><span class="number">5.3.1 </span>Iteration over list</a></h3>
<ul>
<li>Create a list of packages
<ul>
<li>Let us create the following list of packages in base role.<span class="intersentencespace"></span>
</li>
<li>Edit <em>roles/base/defaults/main.yml</em> and put
</li></ul>
</li></ul>
<div class="code"><div class="highlight"><pre>---
# packages list
demolist:
  packages:
    - atk
    - flac
    - eggdbus
    - pixman
    - polkit
</pre></div></div>
<ul>
<li>Also edit <em>roles/base/tasks/main.yml</em> to iterate over this list of items and install packages
</li></ul>
<div class="code"><div class="highlight"><pre>- name: install a list of packages
  yum:
    name: "{{ item }}"
  with_items: {{ demolist.packages }}
</pre></div></div>
<ul>
<li>Let’s check the output
</li></ul>
<div class="code"><div class="highlight"><pre>TASK [base : install a list of packages] ***************************************
changed: [192.168.61.12] =&gt; (item=[u'atk', u'flac', u'eggdbus', u'polkit', u'pixman'])
changed: [192.168.61.13] =&gt; (item=[u'atk', u'flac', u'eggdbus', u'polkit', u'pixman'])
</pre></div></div>
</div>
<div id="uid124" data-tralics-id="uid124" class="subsection" data-number="5.3.2"><h3><a href="chapter7.html#uid124" class="heading hyperref"><span class="number">5.3.2 </span>Iterating over a Hash Table/Dictionary</a></h3>
<ul>
<li>This iteration can be done with using <strong>with_dict</strong> statement, let us see how
</li>
<li>Edit <em>group_vars/all</em> file from the <strong>parent directory</strong> and define a dictionary of mysql databases and users to be created
</li></ul>
<div class="code"><div class="highlight"><pre>---
  fav:
    color: blue
    fruit: peach
  mysql_bind: "{{ ansible_eth0.ipv4.address }}"
  mysql:
    databases:
      infinity:
        state: present
      peace:
        state: present
    users:
      dojo:
        pass: PassWord@1234
        host: '%'
        priv: '*.*:ALL'
        state: present
      koko:
        pass: f8Usg3ord@1we28
        host: '%'
        priv: '*.*:ALL'
        state: present
</pre></div></div>
<ul>
<li><strong>Append</strong> the following iteration in <em>roles/mysql/tasks/config.yml</em>
</li></ul>
<div class="code"><div class="highlight"><pre>- name: create mysql databases
  mysql_db:
    name: "{{ item.key }}"
    state: "{{ item.value.state }}"
  with_dict: "{{ mysql['databases'] }}"

- name: create mysql users
  mysql_user:
    name: "{{ item.key }}"
    host: "{{ item.value.host }}"
    password: "{{ item.value.pass }}"
    priv: "{{ item.value.priv }}"
    state: "{{ item.value.state }}"
  with_dict: "{{ mysql['users'] }}"
</pre></div></div>
<ul>
<li>Execute the <em>db</em> playbook to verify the output
</li></ul>
<div class="code"><div class="highlight"><pre>ansible-playbook db.yml
</pre></div></div>
</div></div>
<div id="cid37" data-tralics-id="cid37" class="section" data-number="5.4"><h2><a href="chapter7.html#cid37" class="heading hyperref"><span class="number">5.4 </span>Exercises</a></h2>
<ul>
<li>Define dictionary of properties for a new database user in group_vars/all.<span class="intersentencespace"></span> Observe if it gets created automatically output by running db.yml playbook.<span class="intersentencespace"></span> Validate if the user is been actually present by logging on to the mysql server and checking status.<span class="intersentencespace"></span>
</li>
<li>Update index.html.j2 to iterate over the dictionary of favorites and generate html content to display it instead of adding multiple lines.<span class="intersentencespace"></span>
</li>
<li>Define a hash/dictionary of apache virtual hosts to be created and create a template which would iterate over that dictionary and create vhost configurations.<span class="intersentencespace"></span>
</li>
<li>Learn about what else you could loop over, as well as how to do so by reading this document http://docs.ansible.com/ansible/playbooks_loops.html#id12
</li></ul>
</div>
    </div>
  </body>
</html>
